<template>
  <div>
    <table class="table">
      <thead>
        <tr>
          <td v-for="field in fields">
            {{ field }}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.id">
          <td>
            {{ user.id }}
          </td>
          <td>
            {{ user.name }}
          </td>
          <td>
            {{ user.username }}
          </td>
          <td>
            <b-button :to="{ name: 'user-view', params: { id: user.id } }">
              View
            </b-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import {ApiService} from '../services/api.service'

export default {
  name: 'UserList',
  data: function () {
    return {
      users: null,
      fields: [
        'id',
        'name',
        'username',
        'actions'
      ]
    }
  },
  mounted () {
    this.fetchUsers()
  },
  methods: {
    fetchUsers () {
      ApiService.get('/users').then(response => {
        this.users = response.data.data
      })
    }
  }
}
</script>
