<template>
  <div>
    <p v-if="loading">
      Loading..
    </p>

    <p v-if="!loading && err">
      {{ err }}
    </p>

    <b-table stacked striped hover :items="user" v-if="!loading && user">
      <template #cell(address)="data" >
        <b-table stacked striped :items="[data.item.address]"></b-table>
      </template>

      <template #cell(company)="data" >
        <b-table stacked striped :items="[data.item.company]"></b-table>
      </template>
    </b-table>

    <b-button :to="{name: 'user-list'}">
      Back
    </b-button>
  </div>
</template>

<script>
import {ApiService} from '../services/api.service'

export default {
  name: 'UserView',
  data: function () {
    return {
      user: null,
      err: null,
      loading: true,
    }
  },
  mounted () {
    this.fetchUser()
  },
  methods: {
    fetchUser () {
      ApiService.get('/users/' + this.$route.params.id).then(response => {
        this.user = [response.data.data]
      }).catch(() => {
        this.err = 'No user found'
      }).finally(() => {
        this.loading = false
      })
    }
  }
}
</script>
