<template>
  <main id="app">
    <router-view/>
  </main>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  #app {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
